<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endgameover_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,154},{86,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,42}}</string>
                <key>sourceSize</key>
                <string>{86,42}</string>
            </dict>
            <key>endgameover_btn_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{234,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,68}}</string>
                <key>sourceSize</key>
                <string>{234,68}</string>
            </dict>
            <key>endgameover_cardcounter.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,132},{134,145}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{134,145}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>endgameover_cxtz.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,113},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>endgameover_fail_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{279,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,68}}</string>
                <key>sourceSize</key>
                <string>{279,68}</string>
            </dict>
            <key>endgameover_fail_title_Award.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,47}}</string>
                <key>sourceSize</key>
                <string>{410,47}</string>
            </dict>
            <key>endgameover_fail_title_noAward.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,205},{178,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,48}}</string>
                <key>sourceSize</key>
                <string>{178,48}</string>
            </dict>
            <key>endgameover_pic_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,72},{132,131}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{132,131}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>endgameover_pic_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,132},{136,133}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,12},{136,133}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>endgameover_pic_hasreceived.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{244,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,129}}</string>
                <key>sourceSize</key>
                <string>{244,129}</string>
            </dict>
            <key>endgameover_pic_xyyx.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,72},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>endgameover_redpacket.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,67},{154,133}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{154,133}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>endgameover_win_title_Award.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,67},{310,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,63}}</string>
                <key>sourceSize</key>
                <string>{310,63}</string>
            </dict>
            <key>endgameover_win_title_noAward.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{310,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,63}}</string>
                <key>sourceSize</key>
                <string>{310,63}</string>
            </dict>
            <key>engameover_btn_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,202},{101,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,42}}</string>
                <key>sourceSize</key>
                <string>{101,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>endgameover.png</string>
            <key>size</key>
            <string>{987,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e972c61c73c211770fdd7d7a1654ff5a:1/1$</string>
            <key>textureFileName</key>
            <string>endgameover.png</string>
        </dict>
    </dict>
</plist>
