<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,390},{323,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,386}}</string>
                <key>sourceSize</key>
                <string>{323,386}</string>
            </dict>
            <key>hall_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{323,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,386}}</string>
                <key>sourceSize</key>
                <string>{323,386}</string>
            </dict>
            <key>hall_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,2},{323,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,386}}</string>
                <key>sourceSize</key>
                <string>{323,386}</string>
            </dict>
            <key>hall_btn_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{323,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,386}}</string>
                <key>sourceSize</key>
                <string>{323,386}</string>
            </dict>
            <key>hall_difen_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,778},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>hall_difen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,810},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>hall_difen_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,810},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>hall_difen_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,810},{35,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,55}}</string>
                <key>sourceSize</key>
                <string>{35,55}</string>
            </dict>
            <key>hall_pic_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,778},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,31}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>hall_pic_coin_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,835},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>hall_pic_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,842},{23,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{23,29}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>hall_pic_num_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,778},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>hall_pic_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,842},{47,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,23}}</string>
                <key>sourceSize</key>
                <string>{47,23}</string>
            </dict>
            <key>hall_playmode_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,810},{119,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>hall_playmode_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,778},{119,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,30}}</string>
                <key>sourceSize</key>
                <string>{119,30}</string>
            </dict>
            <key>hall_playmode_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,778},{89,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,30}}</string>
                <key>sourceSize</key>
                <string>{89,30}</string>
            </dict>
            <key>hall_playmode_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,821},{157,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,41}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
            <key>hall_playmode_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,778},{157,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,41}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
            <key>hall_playmode_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,821},{157,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,41}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
            <key>hall_playmode_bg_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{157,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,41}}</string>
                <key>sourceSize</key>
                <string>{157,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall.png</string>
            <key>size</key>
            <string>{652,867}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:053be2ebe46c2541ef292b8eb03406b0:1/1$</string>
            <key>textureFileName</key>
            <string>hall.png</string>
        </dict>
    </dict>
</plist>
