<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>createroom_rule_buxipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{94,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,30}}</string>
                <key>sourceSize</key>
                <string>{94,30}</string>
            </dict>
            <key>createroom_rule_laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,29}}</string>
                <key>sourceSize</key>
                <string>{117,29}</string>
            </dict>
            <key>createroom_rule_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,86},{119,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,28}}</string>
                <key>sourceSize</key>
                <string>{119,28}</string>
            </dict>
            <key>createroom_title_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{152,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{152,46}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>createroom_txt_static1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,50},{144,34}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{144,34}}</string>
                <key>sourceSize</key>
                <string>{150,36}</string>
            </dict>
            <key>createroom_txt_static2.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,74},{138,34}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{138,34}}</string>
                <key>sourceSize</key>
                <string>{150,36}</string>
            </dict>
            <key>createroom_txt_static3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,38},{138,34}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{138,34}}</string>
                <key>sourceSize</key>
                <string>{150,36}</string>
            </dict>
            <key>createroom_txt_static4.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{138,34}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{138,34}}</string>
                <key>sourceSize</key>
                <string>{150,36}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>createroom.png</string>
            <key>size</key>
            <string>{359,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21274910d5d1def10a67ed00b36a41c5:1/1$</string>
            <key>textureFileName</key>
            <string>createroom.png</string>
        </dict>
    </dict>
</plist>
