<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{291,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,99}}</string>
                <key>sourceSize</key>
                <string>{291,99}</string>
            </dict>
            <key>common_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,411},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>common_dizhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,191},{218,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,66}}</string>
                <key>sourceSize</key>
                <string>{218,66}</string>
            </dict>
            <key>common_getByShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,48},{150,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,44}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
            <key>common_getByVideo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{186,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,45}}</string>
                <key>sourceSize</key>
                <string>{186,45}</string>
            </dict>
            <key>common_img_hasreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{244,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,129}}</string>
                <key>sourceSize</key>
                <string>{244,129}</string>
            </dict>
            <key>common_pic_Lijilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,914},{134,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,41}}</string>
                <key>sourceSize</key>
                <string>{134,41}</string>
            </dict>
            <key>common_pic_bzfdTip.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,54},{266,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,24}}</string>
                <key>sourceSize</key>
                <string>{266,24}</string>
            </dict>
            <key>common_pic_dizgsn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{129,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,26}}</string>
                <key>sourceSize</key>
                <string>{129,26}</string>
            </dict>
            <key>common_pic_fenxianglingjinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,643},{146,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{146,42}}</string>
                <key>sourceSize</key>
                <string>{148,44}</string>
            </dict>
            <key>common_pic_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,258},{146,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,81}}</string>
                <key>sourceSize</key>
                <string>{146,81}</string>
            </dict>
            <key>common_pic_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,140},{116,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,148}}</string>
                <key>sourceSize</key>
                <string>{116,148}</string>
            </dict>
            <key>common_pic_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,966},{128,142}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,15},{128,142}}</string>
                <key>sourceSize</key>
                <string>{220,170}</string>
            </dict>
            <key>common_pic_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,2},{586,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,1}}</string>
                <key>sourceSize</key>
                <string>{586,1}</string>
            </dict>
            <key>common_pic_reward1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,791},{176,107}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,40},{176,107}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>common_pic_reward10.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,835},{174,129}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{174,129}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>common_pic_reward2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{182,101}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,43},{182,101}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>common_pic_reward3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,969},{134,145}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{134,145}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>common_pic_reward4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{154,133}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,18},{154,133}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>common_pic_reward5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,793},{180,119}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{180,119}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>common_pic_reward6.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,587},{190,129}}</string>
                <key>offset</key>
                <string>{7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{190,129}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>common_pic_reward7.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,718},{188,115}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{188,115}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>common_pic_reward8.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,341},{184,127}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,19},{184,127}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>common_pic_reward9.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,470},{186,115}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{186,115}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>common_pic_rewardDiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{324,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,28}}</string>
                <key>sourceSize</key>
                <string>{324,28}</string>
            </dict>
            <key>common_shuoming_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{351,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,50}}</string>
                <key>sourceSize</key>
                <string>{351,50}</string>
            </dict>
            <key>common_title_Buzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{249,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,80}}</string>
                <key>sourceSize</key>
                <string>{249,80}</string>
            </dict>
            <key>common_title_Jinbbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{248,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,78}}</string>
                <key>sourceSize</key>
                <string>{248,78}</string>
            </dict>
            <key>common_title_chenghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,479},{246,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,53}}</string>
                <key>sourceSize</key>
                <string>{246,53}</string>
            </dict>
            <key>common_title_huodejiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{246,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,53}}</string>
                <key>sourceSize</key>
                <string>{246,53}</string>
            </dict>
            <key>common_title_jinjijiangli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{246,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,53}}</string>
                <key>sourceSize</key>
                <string>{246,53}</string>
            </dict>
            <key>common_title_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{246,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,53}}</string>
                <key>sourceSize</key>
                <string>{246,53}</string>
            </dict>
            <key>common_txt_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,94},{149,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{149,44}}</string>
                <key>sourceSize</key>
                <string>{149,48}</string>
            </dict>
            <key>common_txt_fxjb.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2},{150,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{150,44}}</string>
                <key>sourceSize</key>
                <string>{150,48}</string>
            </dict>
            <key>common_txt_yqrx.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,84},{105,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,28}}</string>
                <key>sourceSize</key>
                <string>{105,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{510,1128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a19be73035f688772978bf53305f4fa:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
