<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lack_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{715,412}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{715,412}}</string>
                <key>sourceSize</key>
                <string>{717,414}</string>
            </dict>
            <key>lack_coin_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,341},{78,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,45}}</string>
                <key>sourceSize</key>
                <string>{78,45}</string>
            </dict>
            <key>lack_coin_btn_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,246},{156,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,35}}</string>
                <key>sourceSize</key>
                <string>{156,35}</string>
            </dict>
            <key>lack_coin_buy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{231,242}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{231,242}}</string>
                <key>sourceSize</key>
                <string>{245,244}</string>
            </dict>
            <key>lack_coin_know.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,294},{148,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,45}}</string>
                <key>sourceSize</key>
                <string>{148,45}</string>
            </dict>
            <key>lack_coin_watch_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,246},{186,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{186,46}}</string>
                <key>sourceSize</key>
                <string>{188,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lackcoin.png</string>
            <key>size</key>
            <string>{952,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e087636bd218466a1a597a99e3f760a0:1/1$</string>
            <key>textureFileName</key>
            <string>lackcoin.png</string>
        </dict>
    </dict>
</plist>
