<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coinhall_buxipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{323,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,384}}</string>
                <key>sourceSize</key>
                <string>{323,384}</string>
            </dict>
            <key>coinhall_buxipai_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,391},{466,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,268}}</string>
                <key>sourceSize</key>
                <string>{466,268}</string>
            </dict>
            <key>coinhall_img_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,803},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>coinhall_laizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,390},{323,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,386}}</string>
                <key>sourceSize</key>
                <string>{323,386}</string>
            </dict>
            <key>coinhall_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{323,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,386}}</string>
                <key>sourceSize</key>
                <string>{323,386}</string>
            </dict>
            <key>coinhall_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,387}}</string>
                <key>sourceSize</key>
                <string>{324,387}</string>
            </dict>
            <key>coinhall_normal_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,391},{466,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,268}}</string>
                <key>sourceSize</key>
                <string>{466,268}</string>
            </dict>
            <key>coinhall_quick_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,687},{114,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,45}}</string>
                <key>sourceSize</key>
                <string>{114,45}</string>
            </dict>
            <key>coinhall_quickstart.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,715},{364,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,123}}</string>
                <key>sourceSize</key>
                <string>{366,123}</string>
            </dict>
            <key>coinhall_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,388},{297,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,57}}</string>
                <key>sourceSize</key>
                <string>{297,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coinhall.png</string>
            <key>size</key>
            <string>{989,859}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab29825af2272a5f0a2b434371fd7f3f:1/1$</string>
            <key>textureFileName</key>
            <string>coinhall.png</string>
        </dict>
    </dict>
</plist>
