<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mail_btn_look.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,216},{108,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,28}}</string>
                <key>sourceSize</key>
                <string>{108,28}</string>
            </dict>
            <key>mail_btn_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,188},{121,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,57}}</string>
                <key>sourceSize</key>
                <string>{121,57}</string>
            </dict>
            <key>mail_btntxt_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,127},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>mail_btntxt_rewardAll.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,85},{134,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,41}}</string>
                <key>sourceSize</key>
                <string>{134,41}</string>
            </dict>
            <key>mail_img_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{81,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,50}}</string>
                <key>sourceSize</key>
                <string>{81,50}</string>
            </dict>
            <key>mail_img_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,188},{27,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,54}}</string>
                <key>sourceSize</key>
                <string>{27,54}</string>
            </dict>
            <key>mail_img_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{25,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,706}}</string>
                <key>sourceSize</key>
                <string>{25,706}</string>
            </dict>
            <key>mail_img_mailIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,188},{64,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,53}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>mail_img_noMail.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{230,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,255}}</string>
                <key>sourceSize</key>
                <string>{230,255}</string>
            </dict>
            <key>mail_img_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,233},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>mail_img_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,706}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,706}}</string>
                <key>sourceSize</key>
                <string>{25,706}</string>
            </dict>
            <key>mail_title_tap1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,150},{206,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,64}}</string>
                <key>sourceSize</key>
                <string>{206,64}</string>
            </dict>
            <key>mail_title_tap1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,56},{206,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,64}}</string>
                <key>sourceSize</key>
                <string>{206,64}</string>
            </dict>
            <key>mail_title_tap2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,122},{205,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,64}}</string>
                <key>sourceSize</key>
                <string>{205,64}</string>
            </dict>
            <key>mail_title_tap2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{206,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,64}}</string>
                <key>sourceSize</key>
                <string>{206,64}</string>
            </dict>
            <key>mail_title_tapBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{448,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,92}}</string>
                <key>sourceSize</key>
                <string>{448,92}</string>
            </dict>
            <key>mail_txt_mail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,56},{69,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,39}}</string>
                <key>sourceSize</key>
                <string>{69,39}</string>
            </dict>
            <key>mail_txt_mail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,197},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>mail_txt_system1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{138,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,38}}</string>
                <key>sourceSize</key>
                <string>{138,38}</string>
            </dict>
            <key>mail_txt_system2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,216},{136,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,33}}</string>
                <key>sourceSize</key>
                <string>{136,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mail.png</string>
            <key>size</key>
            <string>{1019,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e12014769da5097fc20618102e38820c:1/1$</string>
            <key>textureFileName</key>
            <string>mail.png</string>
        </dict>
    </dict>
</plist>
