<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>competition_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,840},{605,110}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{605,110}}</string>
                <key>sourceSize</key>
                <string>{619,110}</string>
            </dict>
            <key>competition_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,927},{89,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,117}}</string>
                <key>sourceSize</key>
                <string>{89,117}</string>
            </dict>
            <key>competition_changewithdraw_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,724},{399,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,59}}</string>
                <key>sourceSize</key>
                <string>{399,59}</string>
            </dict>
            <key>competition_dizhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,859},{218,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,66}}</string>
                <key>sourceSize</key>
                <string>{218,66}</string>
            </dict>
            <key>competition_exit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,921},{154,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{154,46}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>competition_huandengjika.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,45}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>competition_huanduihuanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,815},{150,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,44}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
            <key>competition_img_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,484},{124,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,33}}</string>
                <key>sourceSize</key>
                <string>{124,33}</string>
            </dict>
            <key>competition_img_wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,952},{61,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,41}}</string>
                <key>sourceSize</key>
                <string>{61,41}</string>
            </dict>
            <key>competition_jiangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,619},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>competition_landi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,310},{310,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,203}}</string>
                <key>sourceSize</key>
                <string>{310,203}</string>
            </dict>
            <key>competition_level_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{306,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{306,348}}</string>
                <key>sourceSize</key>
                <string>{314,356}</string>
            </dict>
            <key>competition_paihangbangshouqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,952},{62,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,222}}</string>
                <key>sourceSize</key>
                <string>{62,222}</string>
            </dict>
            <key>competition_paiwei_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,140},{562,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,183}}</string>
                <key>sourceSize</key>
                <string>{562,183}</string>
            </dict>
            <key>competition_paiwei_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,499},{550,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,174}}</string>
                <key>sourceSize</key>
                <string>{550,174}</string>
            </dict>
            <key>competition_paiwei_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,2},{140,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{140,34}}</string>
                <key>sourceSize</key>
                <string>{144,38}</string>
            </dict>
            <key>competition_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,561},{94,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>competition_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,952},{64,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,95}}</string>
                <key>sourceSize</key>
                <string>{64,95}</string>
            </dict>
            <key>competition_rule_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,140},{154,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{154,46}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>competition_save_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,969},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>competition_season_award_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,785},{428,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{428,28}}</string>
                <key>sourceSize</key>
                <string>{438,28}</string>
            </dict>
            <key>competition_season_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,815},{284,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{284,42}}</string>
                <key>sourceSize</key>
                <string>{288,44}</string>
            </dict>
            <key>competition_season_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,286},{102,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,88}}</string>
                <key>sourceSize</key>
                <string>{102,90}</string>
            </dict>
            <key>competition_season_over_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,952},{233,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,43}}</string>
                <key>sourceSize</key>
                <string>{233,43}</string>
            </dict>
            <key>competition_season_over_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,704},{92,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,29}}</string>
                <key>sourceSize</key>
                <string>{92,29}</string>
            </dict>
            <key>competition_season_over_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,861},{61,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,28}}</string>
                <key>sourceSize</key>
                <string>{61,28}</string>
            </dict>
            <key>competition_season_over_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,927},{115,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,80}}</string>
                <key>sourceSize</key>
                <string>{115,80}</string>
            </dict>
            <key>competition_season_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{663,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{663,136}}</string>
                <key>sourceSize</key>
                <string>{663,136}</string>
            </dict>
            <key>competition_season_reward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,515},{325,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,104}}</string>
                <key>sourceSize</key>
                <string>{325,104}</string>
            </dict>
            <key>competition_season_reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{724,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{724,50}}</string>
                <key>sourceSize</key>
                <string>{724,54}</string>
            </dict>
            <key>competition_start_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,621},{363,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,101}}</string>
                <key>sourceSize</key>
                <string>{363,101}</string>
            </dict>
            <key>competition_tip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,310},{185,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,43}}</string>
                <key>sourceSize</key>
                <string>{185,43}</string>
            </dict>
            <key>competition_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,497},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>competition_txt_baoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,656},{90,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{90,46}}</string>
                <key>sourceSize</key>
                <string>{94,48}</string>
            </dict>
            <key>competition_txt_kaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,735},{92,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{92,44}}</string>
                <key>sourceSize</key>
                <string>{94,48}</string>
            </dict>
            <key>competition_txt_match_paiwei.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,390},{169,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,59}}</string>
                <key>sourceSize</key>
                <string>{169,59}</string>
            </dict>
            <key>competition_txt_match_wanzhe.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,861},{167,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,58}}</string>
                <key>sourceSize</key>
                <string>{167,58}</string>
            </dict>
            <key>competition_txt_qidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{301,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,71}}</string>
                <key>sourceSize</key>
                <string>{301,71}</string>
            </dict>
            <key>competition_txt_shengjizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{282,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,59}}</string>
                <key>sourceSize</key>
                <string>{282,59}</string>
            </dict>
            <key>competition_userlevelcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,861},{141,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,30}}</string>
                <key>sourceSize</key>
                <string>{141,30}</string>
            </dict>
            <key>competition_wangzhe_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,716},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{62,64}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>competition_wanzhe_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,325},{562,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,172}}</string>
                <key>sourceSize</key>
                <string>{562,172}</string>
            </dict>
            <key>competition_wanzhe_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,675},{550,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,163}}</string>
                <key>sourceSize</key>
                <string>{550,163}</string>
            </dict>
            <key>competition_withdraw_bright.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,305},{177,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,59}}</string>
                <key>sourceSize</key>
                <string>{177,59}</string>
            </dict>
            <key>competition_withdraw_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,310},{177,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,59}}</string>
                <key>sourceSize</key>
                <string>{177,59}</string>
            </dict>
            <key>competition_xuanyaoyixia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,144},{107,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,34}}</string>
                <key>sourceSize</key>
                <string>{107,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>competition.png</string>
            <key>size</key>
            <string>{1187,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1468f2fd051a25229b8c76cb41448fa1:1/1$</string>
            <key>textureFileName</key>
            <string>competition.png</string>
        </dict>
    </dict>
</plist>
