<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameover_bg_fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,455},{627,421}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{627,421}}</string>
                <key>sourceSize</key>
                <string>{627,451}</string>
            </dict>
            <key>gameover_bg_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{627,451}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{627,451}}</string>
                <key>sourceSize</key>
                <string>{627,451}</string>
            </dict>
            <key>gameover_bottom_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{450,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,49}}</string>
                <key>sourceSize</key>
                <string>{450,49}</string>
            </dict>
            <key>gameover_btn_fengding.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,973},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>gameover_btn_pochan.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,980},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{60,36}</string>
            </dict>
            <key>gameover_btn_shuoming.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,973},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>gameover_pic_chuntianshengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,878},{166,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,93}}</string>
                <key>sourceSize</key>
                <string>{166,93}</string>
            </dict>
            <key>gameover_pic_chuntianxianding.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,258},{195,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,62}}</string>
                <key>sourceSize</key>
                <string>{195,62}</string>
            </dict>
            <key>gameover_pic_dialog_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,380},{174,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{174,56}}</string>
                <key>sourceSize</key>
                <string>{176,58}</string>
            </dict>
            <key>gameover_pic_dialog_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,322},{174,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{174,56}}</string>
                <key>sourceSize</key>
                <string>{176,58}</string>
            </dict>
            <key>gameover_pic_dizhubiaos.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,973},{35,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{35,64}}</string>
                <key>sourceSize</key>
                <string>{37,64}</string>
            </dict>
            <key>gameover_pic_faqitiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,258},{211,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,62}}</string>
                <key>sourceSize</key>
                <string>{211,62}</string>
            </dict>
            <key>gameover_pic_fenxianglilng.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,878},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>gameover_pic_jixuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,878},{133,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,43}}</string>
                <key>sourceSize</key>
                <string>{133,43}</string>
            </dict>
            <key>gameover_pic_liansheng_faqitiaozhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,258},{211,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,62}}</string>
                <key>sourceSize</key>
                <string>{211,62}</string>
            </dict>
            <key>gameover_pic_packup.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,878},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>gameover_pic_shengli.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{254,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,104}}</string>
                <key>sourceSize</key>
                <string>{254,104}</string>
            </dict>
            <key>gameover_pic_shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,878},{174,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,93}}</string>
                <key>sourceSize</key>
                <string>{174,93}</string>
            </dict>
            <key>gameover_pic_unfold.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,907},{100,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,38}}</string>
                <key>sourceSize</key>
                <string>{100,38}</string>
            </dict>
            <key>gameover_pic_xitongbaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,194},{274,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,62}}</string>
                <key>sourceSize</key>
                <string>{274,62}</string>
            </dict>
            <key>gameover_pic_xitongbaopei.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,878},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>gameover_pic_xiuyibo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{104,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,38}}</string>
                <key>sourceSize</key>
                <string>{104,38}</string>
            </dict>
            <key>gameover_pic_xtbp.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,130},{274,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,62}}</string>
                <key>sourceSize</key>
                <string>{274,62}</string>
            </dict>
            <key>gameover_pic_xyjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,66},{274,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,62}}</string>
                <key>sourceSize</key>
                <string>{274,62}</string>
            </dict>
            <key>gameover_pic_ybfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,2},{274,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,62}}</string>
                <key>sourceSize</key>
                <string>{274,62}</string>
            </dict>
            <key>gameover_pic_yingbifanbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,878},{130,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,39}}</string>
                <key>sourceSize</key>
                <string>{130,39}</string>
            </dict>
            <key>gameover_txt_xitongbaohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,878},{136,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,39}}</string>
                <key>sourceSize</key>
                <string>{136,39}</string>
            </dict>
            <key>gameover_txt_xyjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,878},{138,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,39}}</string>
                <key>sourceSize</key>
                <string>{138,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameover.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:379d5d37f69d4f88133d5c873ba3ff88:1/1$</string>
            <key>textureFileName</key>
            <string>gameover.png</string>
        </dict>
    </dict>
</plist>
