<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2007},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>main_btn_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,946},{140,136}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{140,136}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>main_btn_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1194},{73,109}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{73,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1329},{330,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,416}}</string>
                <key>sourceSize</key>
                <string>{330,416}</string>
            </dict>
            <key>main_btn_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1194},{98,114}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,25},{98,114}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>main_btn_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1933},{67,93}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{67,93}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_eventactivity.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,403},{116,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{116,122}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>main_btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1624},{63,103}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{63,103}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_goToProgarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,849},{85,103}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{85,103}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_hyf.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,607},{337,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,176}}</string>
                <key>sourceSize</key>
                <string>{337,176}</string>
            </dict>
            <key>main_btn_invitation.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1244},{82,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>main_btn_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1521},{71,101}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{71,101}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_mess.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1747},{286,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,340}}</string>
                <key>sourceSize</key>
                <string>{286,340}</string>
            </dict>
            <key>main_btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1729},{63,101}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{63,101}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_nationalday.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1088},{128,104}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,34},{128,104}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>main_btn_redpacket.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1832},{61,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{61,99}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_residual.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,603}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,603}}</string>
                <key>sourceSize</key>
                <string>{404,603}</string>
            </dict>
            <key>main_btn_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,233},{168,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,119}}</string>
                <key>sourceSize</key>
                <string>{168,119}</string>
            </dict>
            <key>main_btn_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1305},{69,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{69,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_video_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,603},{128,108}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{128,108}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>main_btn_welfare.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,733},{104,114}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{104,114}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>main_btn_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,527},{74,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,113}}</string>
                <key>sourceSize</key>
                <string>{74,113}</string>
            </dict>
            <key>main_btn_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1416},{71,103}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{71,103}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_game_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1155},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>main_icon_packetitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,946},{208,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,27}}</string>
                <key>sourceSize</key>
                <string>{208,27}</string>
            </dict>
            <key>main_img_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{229,95}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{229,95}}</string>
                <key>sourceSize</key>
                <string>{241,99}</string>
            </dict>
            <key>main_img_invitered_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2007},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>main_img_msg_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1977},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>main_img_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,607},{629,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,4}}</string>
                <key>sourceSize</key>
                <string>{629,4}</string>
            </dict>
            <key>main_img_viewersTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,226},{198,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,53}}</string>
                <key>sourceSize</key>
                <string>{200,53}</string>
            </dict>
            <key>main_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1329},{646,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,164}}</string>
                <key>sourceSize</key>
                <string>{646,164}</string>
            </dict>
            <key>main_menu_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{4,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,96}}</string>
                <key>sourceSize</key>
                <string>{4,96}</string>
            </dict>
            <key>main_paihangbangshouqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,2},{62,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,222}}</string>
                <key>sourceSize</key>
                <string>{62,222}</string>
            </dict>
            <key>main_pic_shangban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{720,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{720,165}}</string>
                <key>sourceSize</key>
                <string>{720,167}</string>
            </dict>
            <key>main_pic_watch_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1977},{98,28}}</string>
                <key>offset</key>
                <string>{-2,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,107},{98,28}}</string>
                <key>sourceSize</key>
                <string>{150,148}</string>
            </dict>
            <key>main_pic_xiaban.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,607},{720,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,112}}</string>
                <key>sourceSize</key>
                <string>{720,112}</string>
            </dict>
            <key>main_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,946},{207,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,85}}</string>
                <key>sourceSize</key>
                <string>{207,85}</string>
            </dict>
            <key>main_txt_hyf.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1294},{91,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,33}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{584,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8c23e0788e0473f8751feb55e7bca99:1/1$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
