<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,915},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{24,26}</string>
            </dict>
            <key>main_btn_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1025},{118,106}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{118,106}}</string>
                <key>sourceSize</key>
                <string>{124,116}</string>
            </dict>
            <key>main_btn_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,952},{73,109}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{73,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{330,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,416}}</string>
                <key>sourceSize</key>
                <string>{330,416}</string>
            </dict>
            <key>main_btn_counter.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,540},{84,94}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{84,94}}</string>
                <key>sourceSize</key>
                <string>{124,116}</string>
            </dict>
            <key>main_btn_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,650},{67,93}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,17},{67,93}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_eventactivity.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1012},{96,102}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{96,102}}</string>
                <key>sourceSize</key>
                <string>{124,116}</string>
            </dict>
            <key>main_btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,719},{74,116}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{74,116}}</string>
                <key>sourceSize</key>
                <string>{80,120}</string>
            </dict>
            <key>main_btn_goToProgarm.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,435},{85,103}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{85,103}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_hyf.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,724},{337,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,176}}</string>
                <key>sourceSize</key>
                <string>{337,176}</string>
            </dict>
            <key>main_btn_invitation.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1048},{82,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,88}}</string>
                <key>sourceSize</key>
                <string>{82,88}</string>
            </dict>
            <key>main_btn_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,650},{71,101}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{71,101}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_mess.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,724},{286,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,340}}</string>
                <key>sourceSize</key>
                <string>{286,340}</string>
            </dict>
            <key>main_btn_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,113},{63,101}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{63,101}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_nationalday.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,721},{102,80}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,15},{102,80}}</string>
                <key>sourceSize</key>
                <string>{108,98}</string>
            </dict>
            <key>main_btn_redpacket.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,216},{61,99}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{61,99}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_residual.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,603}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,603}}</string>
                <key>sourceSize</key>
                <string>{404,603}</string>
            </dict>
            <key>main_btn_shangcheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1012},{168,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,119}}</string>
                <key>sourceSize</key>
                <string>{168,119}</string>
            </dict>
            <key>main_btn_shezhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{69,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{69,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_btn_video_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,825},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,86}</string>
            </dict>
            <key>main_btn_welfare.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,952},{88,94}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{88,94}}</string>
                <key>sourceSize</key>
                <string>{124,116}</string>
            </dict>
            <key>main_btn_youjian.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,837},{74,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,113}}</string>
                <key>sourceSize</key>
                <string>{74,113}</string>
            </dict>
            <key>main_btn_zhanji.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,607},{71,103}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{71,103}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>main_game_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,636},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,87}}</string>
                <key>sourceSize</key>
                <string>{83,87}</string>
            </dict>
            <key>main_icon_packetitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,211},{208,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,27}}</string>
                <key>sourceSize</key>
                <string>{208,27}</string>
            </dict>
            <key>main_img_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1025},{229,95}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{229,95}}</string>
                <key>sourceSize</key>
                <string>{241,99}</string>
            </dict>
            <key>main_img_invitered_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,317},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>main_img_msg_num_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,915},{43,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,28}}</string>
                <key>sourceSize</key>
                <string>{43,28}</string>
            </dict>
            <key>main_img_split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,2},{629,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,4}}</string>
                <key>sourceSize</key>
                <string>{629,4}</string>
            </dict>
            <key>main_img_viewersTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,435},{198,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,53}}</string>
                <key>sourceSize</key>
                <string>{200,53}</string>
            </dict>
            <key>main_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,2},{646,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,164}}</string>
                <key>sourceSize</key>
                <string>{646,164}</string>
            </dict>
            <key>main_menu_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,113},{4,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,96}}</string>
                <key>sourceSize</key>
                <string>{4,96}</string>
            </dict>
            <key>main_paihangbangshouqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,211},{62,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,222}}</string>
                <key>sourceSize</key>
                <string>{62,222}</string>
            </dict>
            <key>main_pic_shangban.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{720,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{720,165}}</string>
                <key>sourceSize</key>
                <string>{720,167}</string>
            </dict>
            <key>main_pic_watch_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,317},{85,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,25}}</string>
                <key>sourceSize</key>
                <string>{85,25}</string>
            </dict>
            <key>main_pic_xiaban.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{720,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,112}}</string>
                <key>sourceSize</key>
                <string>{720,112}</string>
            </dict>
            <key>main_qipao.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,2},{207,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,85}}</string>
                <key>sourceSize</key>
                <string>{207,85}</string>
            </dict>
            <key>main_txt_hyf.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1012},{91,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,33}}</string>
                <key>sourceSize</key>
                <string>{91,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1019,1134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9515ba0b00b23aa92be2a1fc9b0c8c6:1/1$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
