<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eventreward_btn_reward_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,50},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>eventreward_img_des_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{351,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,46}}</string>
                <key>sourceSize</key>
                <string>{351,46}</string>
            </dict>
            <key>eventreward_img_title_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{106,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,44}}</string>
                <key>sourceSize</key>
                <string>{106,44}</string>
            </dict>
            <key>eventreward_reward_good_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,50},{218,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,66}}</string>
                <key>sourceSize</key>
                <string>{218,66}</string>
            </dict>
            <key>eventreward_reward_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,50},{246,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,53}}</string>
                <key>sourceSize</key>
                <string>{246,53}</string>
            </dict>
            <key>eventreward_reward_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{427,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,91}}</string>
                <key>sourceSize</key>
                <string>{427,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventreward.png</string>
            <key>size</key>
            <string>{967,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f790bdab2638ca2b00f910c6a7b39346:1/1$</string>
            <key>textureFileName</key>
            <string>eventreward.png</string>
        </dict>
    </dict>
</plist>
