<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>poker_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,204},{26,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,124}}</string>
                <key>sourceSize</key>
                <string>{26,124}</string>
            </dict>
            <key>poker_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{26,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,124}}</string>
                <key>sourceSize</key>
                <string>{26,124}</string>
            </dict>
            <key>poker_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,260},{49,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,65}}</string>
                <key>sourceSize</key>
                <string>{49,65}</string>
            </dict>
            <key>poker_back_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,260},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>poker_bg_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{145,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,200}}</string>
                <key>sourceSize</key>
                <string>{145,200}</string>
            </dict>
            <key>poker_bg_big1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{143,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{143,200}}</string>
                <key>sourceSize</key>
                <string>{145,200}</string>
            </dict>
            <key>poker_bg_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,258},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>poker_color_f.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,204},{78,85}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,85}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>poker_color_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,206},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{80,79}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>poker_color_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,256},{80,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{80,79}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>poker_color_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,85}</string>
            </dict>
            <key>poker_f03.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{32,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_f04.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,88},{34,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_f05.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,88},{32,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_f06.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{32,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{32,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_f07.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,303},{32,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_f08.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,303},{32,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_f09.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,303},{32,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_f10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,291},{42,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_f11.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{36,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_f12.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,88},{38,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_f13.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,174},{36,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_f14.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,88},{40,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_f15.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,303},{32,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{32,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h03.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,170},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h04.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,148},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h05.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,112},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h06.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,86},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h07.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,86},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h08.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,76},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h09.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,40},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h10.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{42,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h11.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{36,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h12.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,174},{38,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h13.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,254},{36,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h14.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{40,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_h15.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_joker_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,204},{97,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,150}}</string>
                <key>sourceSize</key>
                <string>{97,150}</string>
            </dict>
            <key>poker_joker_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,204},{97,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,150}}</string>
                <key>sourceSize</key>
                <string>{97,150}</string>
            </dict>
            <key>poker_m03.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,206},{32,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{32,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_m04.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{34,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{34,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_m05.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,302},{32,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{32,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_m06.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,218},{32,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{32,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_m07.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,218},{32,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{32,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_m08.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,302},{32,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{32,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_m09.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,218},{32,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{32,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_m10.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,88},{42,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_m11.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{36,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_m12.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,174},{38,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,84}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_m13.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,86},{36,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_m14.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,86},{40,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_m15.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,184},{32,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{32,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r03.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,170},{36,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r04.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,254},{36,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r05.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{36,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r06.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,86},{36,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r07.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,170},{36,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r08.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{36,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r09.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,86},{36,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r10.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,174},{42,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r11.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,86},{38,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r12.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,170},{38,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{38,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r13.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,170},{36,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r14.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,172},{40,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_r15.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{36,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,82}}</string>
                <key>sourceSize</key>
                <string>{42,84}</string>
            </dict>
            <key>poker_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{145,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,200}}</string>
                <key>sourceSize</key>
                <string>{145,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>poker.png</string>
            <key>size</key>
            <string>{1018,338}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a55277e0d9103ca6a5e53a6cc4071926:1/1$</string>
            <key>textureFileName</key>
            <string>poker.png</string>
        </dict>
    </dict>
</plist>
