<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_btn_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{201,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,77}}</string>
                <key>sourceSize</key>
                <string>{201,77}</string>
            </dict>
            <key>shop_pic_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,253}}</string>
                <key>sourceSize</key>
                <string>{274,253}</string>
            </dict>
            <key>shop_pic_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,541},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>shop_pic_diamond1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,237},{84,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,69}}</string>
                <key>sourceSize</key>
                <string>{84,69}</string>
            </dict>
            <key>shop_pic_diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,438},{101,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,65}}</string>
                <key>sourceSize</key>
                <string>{101,65}</string>
            </dict>
            <key>shop_pic_diamond3.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,120},{115,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,66}}</string>
                <key>sourceSize</key>
                <string>{115,68}</string>
            </dict>
            <key>shop_pic_diamond4.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,336},{119,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>shop_pic_diamond5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,120},{154,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,110}}</string>
                <key>sourceSize</key>
                <string>{154,110}</string>
            </dict>
            <key>shop_pic_duosong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,431},{130,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,114}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>shop_pic_duosong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,315},{130,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,114}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>shop_pic_duosong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,448},{130,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,114}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>shop_pic_duosong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,565},{130,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,114}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>shop_pic_duosong5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{130,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,114}}</string>
                <key>sourceSize</key>
                <string>{130,114}</string>
            </dict>
            <key>shop_pic_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,323},{113,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,79}}</string>
                <key>sourceSize</key>
                <string>{113,79}</string>
            </dict>
            <key>shop_pic_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,232},{146,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,81}}</string>
                <key>sourceSize</key>
                <string>{146,81}</string>
            </dict>
            <key>shop_pic_gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,547},{145,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{145,86}}</string>
                <key>sourceSize</key>
                <string>{147,86}</string>
            </dict>
            <key>shop_pic_gold4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{132,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,115}}</string>
                <key>sourceSize</key>
                <string>{132,115}</string>
            </dict>
            <key>shop_pic_gold5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{159,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,116}}</string>
                <key>sourceSize</key>
                <string>{159,116}</string>
            </dict>
            <key>shop_pic_gold6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{160,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,110}}</string>
                <key>sourceSize</key>
                <string>{160,110}</string>
            </dict>
            <key>shop_pic_rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,580},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{102,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,1},{102,48}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>shop_title_diamond1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,635},{81,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,32}}</string>
                <key>sourceSize</key>
                <string>{81,32}</string>
            </dict>
            <key>shop_title_diamond2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,257},{73,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,28}}</string>
                <key>sourceSize</key>
                <string>{73,28}</string>
            </dict>
            <key>shop_title_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,635},{82,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,33}}</string>
                <key>sourceSize</key>
                <string>{82,33}</string>
            </dict>
            <key>shop_title_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,257},{74,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,29}}</string>
                <key>sourceSize</key>
                <string>{74,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{502,681}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e68dccd8af4e98436204e19b4d9ebcb1:1/1$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
