<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,411},{80,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,145}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>chat_btn_normal_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,329},{80,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,145}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>chat_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,356},{80,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,145}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>chat_btn_selected_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,356},{80,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,145}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>chat_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,329},{121,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,60}}</string>
                <key>sourceSize</key>
                <string>{121,60}</string>
            </dict>
            <key>chat_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,167},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,165},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>chat_face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,2},{160,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,182}}</string>
                <key>sourceSize</key>
                <string>{160,182}</string>
            </dict>
            <key>chat_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,335},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{163,183}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{163,183}}</string>
                <key>sourceSize</key>
                <string>{171,183}</string>
            </dict>
            <key>chat_face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,336},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,88},{160,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,212}}</string>
                <key>sourceSize</key>
                <string>{160,212}</string>
            </dict>
            <key>chat_face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,88},{160,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,195}}</string>
                <key>sourceSize</key>
                <string>{160,195}</string>
            </dict>
            <key>chat_face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,88},{162,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,192}}</string>
                <key>sourceSize</key>
                <string>{162,192}</string>
            </dict>
            <key>chat_face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,165},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,2},{160,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,179}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>chat_face_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,349},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>chat_face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,282},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,309},{160,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,171}}</string>
                <key>sourceSize</key>
                <string>{160,171}</string>
            </dict>
            <key>chat_face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>chat_face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{168,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,219}}</string>
                <key>sourceSize</key>
                <string>{168,219}</string>
            </dict>
            <key>chat_face_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,164},{164,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,169}}</string>
                <key>sourceSize</key>
                <string>{164,169}</string>
            </dict>
            <key>chat_face_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,2},{161,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,182}}</string>
                <key>sourceSize</key>
                <string>{161,182}</string>
            </dict>
            <key>chat_face_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,285},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,336},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,187},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,2},{163,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,179}}</string>
                <key>sourceSize</key>
                <string>{163,179}</string>
            </dict>
            <key>chat_face_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,185},{169,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{171,169}</string>
            </dict>
            <key>chat_img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,456},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>chat_img_face_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,452},{52,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{52,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_img_face_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,453},{52,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{52,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_img_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chat_img_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{588,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,84}}</string>
                <key>sourceSize</key>
                <string>{588,84}</string>
            </dict>
            <key>chat_img_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,164},{32,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,1}}</string>
                <key>sourceSize</key>
                <string>{32,1}</string>
            </dict>
            <key>chat_img_record_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,456},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_img_record_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,456},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_img_txt_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,453},{54,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{54,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_img_txt_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,456},{54,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{54,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_txt_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,167},{76,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,41}}</string>
                <key>sourceSize</key>
                <string>{76,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{1721,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c487cf7a54a84f0f1f53c9ebe7529c0:1/1$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
