<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank_bg_brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,633},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rank_bg_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,735},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>rank_chakanqunpaiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{192,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,56}}</string>
                <key>sourceSize</key>
                <string>{192,56}</string>
            </dict>
            <key>rank_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,825},{69,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,54}</string>
            </dict>
            <key>rank_haoyoubang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,861},{204,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,57}}</string>
                <key>sourceSize</key>
                <string>{204,57}</string>
            </dict>
            <key>rank_haoyoubang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{102,33}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,9},{102,33}}</string>
                <key>sourceSize</key>
                <string>{204,57}</string>
            </dict>
            <key>rank_header_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{629,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,59}}</string>
                <key>sourceSize</key>
                <string>{629,59}</string>
            </dict>
            <key>rank_huanqunpaihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,813},{148,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,44}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
            <key>rank_myself_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{582,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,132}}</string>
                <key>sourceSize</key>
                <string>{582,132}</string>
            </dict>
            <key>rank_paihangbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{67,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,222}}</string>
                <key>sourceSize</key>
                <string>{67,222}</string>
            </dict>
            <key>rank_paihangbang_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,564},{400,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,52}}</string>
                <key>sourceSize</key>
                <string>{400,52}</string>
            </dict>
            <key>rank_paihangbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,655},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>rank_paihangbeijing_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{560,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,104}}</string>
                <key>sourceSize</key>
                <string>{560,104}</string>
            </dict>
            <key>rank_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,715},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>rank_shijiebang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{204,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,57}}</string>
                <key>sourceSize</key>
                <string>{204,57}</string>
            </dict>
            <key>rank_shijiebang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,633},{100,33}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,9},{100,33}}</string>
                <key>sourceSize</key>
                <string>{204,57}</string>
            </dict>
            <key>rank_third.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,825},{69,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,54}</string>
            </dict>
            <key>rank_tishengpaiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,966},{147,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{147,44}}</string>
                <key>sourceSize</key>
                <string>{149,44}</string>
            </dict>
            <key>rank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,765},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,46}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>rank_xuanyaoyixia.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,655},{107,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,34}}</string>
                <key>sourceSize</key>
                <string>{107,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f166127227b9129d3abb5c423174305a:1/1$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
