<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>iloadding_bar_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,117},{471,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,17}}</string>
                <key>sourceSize</key>
                <string>{471,17}</string>
            </dict>
            <key>iloadding_bar_reddot.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,136},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>iloadding_bar_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,136},{456,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{456,5}}</string>
                <key>sourceSize</key>
                <string>{456,5}</string>
            </dict>
            <key>iloadding_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,148}}</string>
                <key>sourceSize</key>
                <string>{240,148}</string>
            </dict>
            <key>iloadding_tips.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{541,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,113}}</string>
                <key>sourceSize</key>
                <string>{541,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iloadding.png</string>
            <key>size</key>
            <string>{787,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94beb45580c19b503e46da0810b9353b:1/1$</string>
            <key>textureFileName</key>
            <string>iloadding.png</string>
        </dict>
    </dict>
</plist>
