<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redpacket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{590,193}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{590,193}}</string>
                <key>sourceSize</key>
                <string>{594,197}</string>
            </dict>
            <key>redpacket_btn_getcash.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{259,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,77}}</string>
                <key>sourceSize</key>
                <string>{259,77}</string>
            </dict>
            <key>redpacket_btn_getcash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,175},{229,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,77}}</string>
                <key>sourceSize</key>
                <string>{229,77}</string>
            </dict>
            <key>redpacket_btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,81},{364,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,122}}</string>
                <key>sourceSize</key>
                <string>{364,122}</string>
            </dict>
            <key>redpacket_btn_tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,175},{224,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,92}}</string>
                <key>sourceSize</key>
                <string>{224,92}</string>
            </dict>
            <key>redpacket_btn_tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,81},{224,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,92}}</string>
                <key>sourceSize</key>
                <string>{224,92}</string>
            </dict>
            <key>redpacket_getcash_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,175},{138,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,39}}</string>
                <key>sourceSize</key>
                <string>{138,39}</string>
            </dict>
            <key>redpacket_getcash_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,447},{136,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,34}}</string>
                <key>sourceSize</key>
                <string>{136,34}</string>
            </dict>
            <key>redpacket_img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{313,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{313,72}}</string>
                <key>sourceSize</key>
                <string>{315,72}</string>
            </dict>
            <key>redpacket_img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,409},{305,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,72}}</string>
                <key>sourceSize</key>
                <string>{305,72}</string>
            </dict>
            <key>redpacket_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{592,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{592,90}}</string>
                <key>sourceSize</key>
                <string>{592,90}</string>
            </dict>
            <key>redpacket_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{574,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{574,4}}</string>
                <key>sourceSize</key>
                <string>{574,4}</string>
            </dict>
            <key>redpacket_reward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,315},{138,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,38}}</string>
                <key>sourceSize</key>
                <string>{138,38}</string>
            </dict>
            <key>redpacket_reward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,406},{136,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,33}}</string>
                <key>sourceSize</key>
                <string>{136,33}</string>
            </dict>
            <key>redpacket_tag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{512,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,112}}</string>
                <key>sourceSize</key>
                <string>{512,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redpacket.png</string>
            <key>size</key>
            <string>{944,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeb6bfbfab69673bbd48e3654d14c614:1/1$</string>
            <key>textureFileName</key>
            <string>redpacket.png</string>
        </dict>
    </dict>
</plist>
