<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerinfo_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,158},{34,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,54}}</string>
                <key>sourceSize</key>
                <string>{36,56}</string>
            </dict>
            <key>playerinfo_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{120,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{120,128}</string>
            </dict>
            <key>playerinfo_btn_tiren.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,33},{141,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,61}}</string>
                <key>sourceSize</key>
                <string>{141,61}</string>
            </dict>
            <key>playerinfo_gerenshengya.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,62},{328,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,27}}</string>
                <key>sourceSize</key>
                <string>{328,27}</string>
            </dict>
            <key>playerinfo_hudongbiaoqing.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,33},{328,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,27}}</string>
                <key>sourceSize</key>
                <string>{328,27}</string>
            </dict>
            <key>playerinfo_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,33},{33,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{33,22}</string>
            </dict>
            <key>playerinfo_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,91},{32,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,4}}</string>
                <key>sourceSize</key>
                <string>{32,4}</string>
            </dict>
            <key>playerinfo_multiple.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,102},{120,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,124}}</string>
                <key>sourceSize</key>
                <string>{120,128}</string>
            </dict>
            <key>playerinfo_observe.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{415,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,29}}</string>
                <key>sourceSize</key>
                <string>{415,29}</string>
            </dict>
            <key>playerinfo_phiz_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,91},{72,82}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{72,82}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>playerinfo_phiz_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,91},{82,96}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{82,96}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>playerinfo_phiz_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,165},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{96,58}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>playerinfo_phiz_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,112},{102,104}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{102,104}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>playerinfo_phiz_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,91},{70,104}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{70,104}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>playerinfo_phiz_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2},{110,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{110,108}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>playerinfo_spring.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,102},{120,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{120,124}}</string>
                <key>sourceSize</key>
                <string>{120,128}</string>
            </dict>
            <key>playerinfo_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,46}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>playerinfo_wincoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,102},{120,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{120,124}}</string>
                <key>sourceSize</key>
                <string>{120,128}</string>
            </dict>
            <key>playerinfo_zdj_sl_zgls.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,98}}</string>
                <key>sourceSize</key>
                <string>{436,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playerinfo.png</string>
            <key>size</key>
            <string>{1017,225}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75a3a60dc89542686a5bc422c5bed677:1/1$</string>
            <key>textureFileName</key>
            <string>playerinfo.png</string>
        </dict>
    </dict>
</plist>
