<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>task_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,843},{165,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,85}}</string>
                <key>sourceSize</key>
                <string>{165,85}</string>
            </dict>
            <key>task_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,420},{165,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,85}}</string>
                <key>sourceSize</key>
                <string>{165,85}</string>
            </dict>
            <key>task_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,420},{164,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,86}}</string>
                <key>sourceSize</key>
                <string>{164,86}</string>
            </dict>
            <key>task_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,635},{304,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{304,102}}</string>
                <key>sourceSize</key>
                <string>{306,104}</string>
            </dict>
            <key>task_btn_getByShare.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,739},{303,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,102}}</string>
                <key>sourceSize</key>
                <string>{303,102}</string>
            </dict>
            <key>task_btn_getByVideo.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{303,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,102}}</string>
                <key>sourceSize</key>
                <string>{303,102}</string>
            </dict>
            <key>task_btn_return_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,810},{103,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,31}}</string>
                <key>sourceSize</key>
                <string>{103,31}</string>
            </dict>
            <key>task_btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,843},{242,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,93}}</string>
                <key>sourceSize</key>
                <string>{242,93}</string>
            </dict>
            <key>task_btn_yqrx.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,770},{103,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,30}}</string>
                <key>sourceSize</key>
                <string>{103,30}</string>
            </dict>
            <key>task_hava_pick.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,938},{139,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,82}}</string>
                <key>sourceSize</key>
                <string>{139,82}</string>
            </dict>
            <key>task_item_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{631,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,117}}</string>
                <key>sourceSize</key>
                <string>{631,117}</string>
            </dict>
            <key>task_item_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{631,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,117}}</string>
                <key>sourceSize</key>
                <string>{631,117}</string>
            </dict>
            <key>task_item_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{631,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,117}}</string>
                <key>sourceSize</key>
                <string>{631,117}</string>
            </dict>
            <key>task_item_cardcounter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,914},{45,62}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{45,62}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>task_item_cardcounter_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,923},{45,62}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{45,62}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>task_item_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,934},{73,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{73,46}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>task_item_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,841},{71,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{71,46}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>task_item_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,843},{89,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{89,54}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>task_item_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,938},{89,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{89,54}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>task_item_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,763},{81,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{81,50}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>task_item_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,678},{83,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{83,50}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>task_item_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,678},{101,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,90}}</string>
                <key>sourceSize</key>
                <string>{101,92}</string>
            </dict>
            <key>task_item_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,678},{101,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,90}}</string>
                <key>sourceSize</key>
                <string>{101,92}</string>
            </dict>
            <key>task_item_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,307},{101,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,90}}</string>
                <key>sourceSize</key>
                <string>{101,92}</string>
            </dict>
            <key>task_item_pro_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,650},{250,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,26}}</string>
                <key>sourceSize</key>
                <string>{250,26}</string>
            </dict>
            <key>task_item_pro_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,622},{250,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,26}}</string>
                <key>sourceSize</key>
                <string>{250,26}</string>
            </dict>
            <key>task_item_pro_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,594},{250,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,26}}</string>
                <key>sourceSize</key>
                <string>{250,26}</string>
            </dict>
            <key>task_item_redpacket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,906},{53,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{53,58}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>task_item_redpacket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,846},{53,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,10},{53,58}}</string>
                <key>sourceSize</key>
                <string>{107,80}</string>
            </dict>
            <key>task_pic_title_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,2},{416,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,36}}</string>
                <key>sourceSize</key>
                <string>{418,38}</string>
            </dict>
            <key>task_rechange.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,802},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>task_rechange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,843},{78,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,45}}</string>
                <key>sourceSize</key>
                <string>{78,45}</string>
            </dict>
            <key>task_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,508},{154,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,44}}</string>
                <key>sourceSize</key>
                <string>{154,44}</string>
            </dict>
            <key>task_title_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{416,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,49}}</string>
                <key>sourceSize</key>
                <string>{416,49}</string>
            </dict>
            <key>task_title_gxhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{416,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,49}}</string>
                <key>sourceSize</key>
                <string>{416,49}</string>
            </dict>
            <key>task_txt_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,554},{107,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,38}}</string>
                <key>sourceSize</key>
                <string>{107,38}</string>
            </dict>
            <key>task_txt_havepick.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,770},{106,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,38}}</string>
                <key>sourceSize</key>
                <string>{106,38}</string>
            </dict>
            <key>task_txt_pick.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,934},{72,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,37}}</string>
                <key>sourceSize</key>
                <string>{72,37}</string>
            </dict>
            <key>task_txt_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,635},{385,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,38}}</string>
                <key>sourceSize</key>
                <string>{385,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task.png</string>
            <key>size</key>
            <string>{612,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ecc5fb6597cff5df4e0ccc1e4a30090:1/1$</string>
            <key>textureFileName</key>
            <string>task.png</string>
        </dict>
    </dict>
</plist>
