<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eventintroducer_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,1725},{229,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,77}}</string>
                <key>sourceSize</key>
                <string>{229,77}</string>
            </dict>
            <key>eventintroducer_btn_exitMatch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1125},{627,319}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{627,319}}</string>
                <key>sourceSize</key>
                <string>{639,333}</string>
            </dict>
            <key>eventintroducer_btn_exitMatch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1446},{579,277}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{579,277}}</string>
                <key>sourceSize</key>
                <string>{639,333}</string>
            </dict>
            <key>eventintroducer_btn_extendMatch_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,804},{627,319}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{627,319}}</string>
                <key>sourceSize</key>
                <string>{639,333}</string>
            </dict>
            <key>eventintroducer_btn_extendMatch_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{561,261}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,27},{561,261}}</string>
                <key>sourceSize</key>
                <string>{639,333}</string>
            </dict>
            <key>eventintroducer_pic_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{635,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,800}}</string>
                <key>sourceSize</key>
                <string>{635,800}</string>
            </dict>
            <key>eventintroducer_pic_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{635,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,800}}</string>
                <key>sourceSize</key>
                <string>{635,800}</string>
            </dict>
            <key>eventintroducer_pic_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{635,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,800}}</string>
                <key>sourceSize</key>
                <string>{635,800}</string>
            </dict>
            <key>eventintroducer_pic_dot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,1725},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>eventintroducer_pic_dot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1797},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>eventintroducer_pic_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1725},{329,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,70}}</string>
                <key>sourceSize</key>
                <string>{329,70}</string>
            </dict>
            <key>eventintroducer_txt_confirm.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,1606},{87,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,44}}</string>
                <key>sourceSize</key>
                <string>{87,44}</string>
            </dict>
            <key>eventintroducer_txt_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,1446},{149,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,44}}</string>
                <key>sourceSize</key>
                <string>{149,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventintroducer.png</string>
            <key>size</key>
            <string>{1276,1869}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02627cf2ceae83f624dcffe3a5c5decd:1/1$</string>
            <key>textureFileName</key>
            <string>eventintroducer.png</string>
        </dict>
    </dict>
</plist>
