<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>competition_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{605,110}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{605,110}}</string>
                <key>sourceSize</key>
                <string>{619,110}</string>
            </dict>
            <key>competition_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,307},{89,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,117}}</string>
                <key>sourceSize</key>
                <string>{89,117}</string>
            </dict>
            <key>competition_changewithdraw_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{399,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,59}}</string>
                <key>sourceSize</key>
                <string>{399,59}</string>
            </dict>
            <key>competition_dizhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,114},{218,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,66}}</string>
                <key>sourceSize</key>
                <string>{218,66}</string>
            </dict>
            <key>competition_exit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,350},{154,46}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{154,46}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>competition_huandengjika.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,398},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,45}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>competition_huanduihuanquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,445},{150,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,44}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
            <key>competition_jiangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{95,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,106}}</string>
                <key>sourceSize</key>
                <string>{95,106}</string>
            </dict>
            <key>competition_landi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{310,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,203}}</string>
                <key>sourceSize</key>
                <string>{310,203}</string>
            </dict>
            <key>competition_paihangbangshouqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,182},{62,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,222}}</string>
                <key>sourceSize</key>
                <string>{62,222}</string>
            </dict>
            <key>competition_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,398},{94,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,101}}</string>
                <key>sourceSize</key>
                <string>{94,101}</string>
            </dict>
            <key>competition_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,114},{64,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,95}}</string>
                <key>sourceSize</key>
                <string>{64,95}</string>
            </dict>
            <key>competition_rule_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,302},{154,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{154,46}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>competition_start_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{363,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,101}}</string>
                <key>sourceSize</key>
                <string>{363,101}</string>
            </dict>
            <key>competition_top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,180},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>competition_userlevelcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,350},{141,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,30}}</string>
                <key>sourceSize</key>
                <string>{141,30}</string>
            </dict>
            <key>competition_withdraw_bright.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,110},{177,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,59}}</string>
                <key>sourceSize</key>
                <string>{177,59}</string>
            </dict>
            <key>competition_withdraw_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,246},{177,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,59}}</string>
                <key>sourceSize</key>
                <string>{177,59}</string>
            </dict>
            <key>competition_xuanyaoyixia.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,289},{107,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,34}}</string>
                <key>sourceSize</key>
                <string>{107,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>competition.png</string>
            <key>size</key>
            <string>{721,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5ef2f996cd7d422517fab7aa496cf85:1/1$</string>
            <key>textureFileName</key>
            <string>competition.png</string>
        </dict>
    </dict>
</plist>
