<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_btntxt_goPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,276},{120,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,44}}</string>
                <key>sourceSize</key>
                <string>{120,44}</string>
            </dict>
            <key>bag_btntxt_use.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{68,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,36}}</string>
                <key>sourceSize</key>
                <string>{68,36}</string>
            </dict>
            <key>bag_img_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{218,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,66}}</string>
                <key>sourceSize</key>
                <string>{218,66}</string>
            </dict>
            <key>bag_img_icon7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,276},{116,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,148}}</string>
                <key>sourceSize</key>
                <string>{116,148}</string>
            </dict>
            <key>bag_img_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{186,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,272}}</string>
                <key>sourceSize</key>
                <string>{186,272}</string>
            </dict>
            <key>bag_img_nobag.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,290}}</string>
                <key>sourceSize</key>
                <string>{302,290}</string>
            </dict>
            <key>bag_txt_bagTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,294},{104,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{104,48}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bag.png</string>
            <key>size</key>
            <string>{502,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae213adf921697a6677bb21d51aa71c0:1/1$</string>
            <key>textureFileName</key>
            <string>bag.png</string>
        </dict>
    </dict>
</plist>
