<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,344},{80,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,145}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>chat_btn_normal_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1966,173},{80,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,145}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>chat_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,344},{80,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,145}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>chat_btn_selected_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,344},{80,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,145}}</string>
                <key>sourceSize</key>
                <string>{80,145}</string>
            </dict>
            <key>chat_btn_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,371},{121,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,60}}</string>
                <key>sourceSize</key>
                <string>{121,60}</string>
            </dict>
            <key>chat_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1807,2},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>chat_face_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{160,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,182}}</string>
                <key>sourceSize</key>
                <string>{160,182}</string>
            </dict>
            <key>chat_face_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,173},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{163,183}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{163,183}}</string>
                <key>sourceSize</key>
                <string>{171,183}</string>
            </dict>
            <key>chat_face_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,2},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{160,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,212}}</string>
                <key>sourceSize</key>
                <string>{160,212}</string>
            </dict>
            <key>chat_face_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{160,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,195}}</string>
                <key>sourceSize</key>
                <string>{160,195}</string>
            </dict>
            <key>chat_face_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,199},{162,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,192}}</string>
                <key>sourceSize</key>
                <string>{162,192}</string>
            </dict>
            <key>chat_face_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,173},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,183},{160,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,179}}</string>
                <key>sourceSize</key>
                <string>{160,179}</string>
            </dict>
            <key>chat_face_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,2},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,223},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>chat_face_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,173},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{160,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,171}}</string>
                <key>sourceSize</key>
                <string>{160,171}</string>
            </dict>
            <key>chat_face_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,186},{164,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,181}}</string>
                <key>sourceSize</key>
                <string>{164,181}</string>
            </dict>
            <key>chat_face_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,219}}</string>
                <key>sourceSize</key>
                <string>{168,219}</string>
            </dict>
            <key>chat_face_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,173},{164,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,169}}</string>
                <key>sourceSize</key>
                <string>{164,169}</string>
            </dict>
            <key>chat_face_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,187},{161,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,182}}</string>
                <key>sourceSize</key>
                <string>{161,182}</string>
            </dict>
            <key>chat_face_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,2},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,173},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,2},{160,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,169}}</string>
                <key>sourceSize</key>
                <string>{160,169}</string>
            </dict>
            <key>chat_face_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,2},{163,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,179}}</string>
                <key>sourceSize</key>
                <string>{163,179}</string>
            </dict>
            <key>chat_face_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,175},{169,169}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{171,169}</string>
            </dict>
            <key>chat_img_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,369},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>chat_img_bubble_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,371},{61,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,44}}</string>
                <key>sourceSize</key>
                <string>{61,44}</string>
            </dict>
            <key>chat_img_bubble_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,371},{62,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{64,51}</string>
            </dict>
            <key>chat_img_face_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,110},{52,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{52,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_img_face_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,56},{52,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{52,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_img_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,369},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>chat_img_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,346},{588,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,84}}</string>
                <key>sourceSize</key>
                <string>{588,84}</string>
            </dict>
            <key>chat_img_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,425},{32,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,1}}</string>
                <key>sourceSize</key>
                <string>{32,1}</string>
            </dict>
            <key>chat_img_record_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,364},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_img_record_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,364},{52,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,54}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_img_txt_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,2},{54,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{54,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_img_txt_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,364},{54,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{54,52}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_txt_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,393},{76,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,41}}</string>
                <key>sourceSize</key>
                <string>{76,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{2048,437}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa06b21366fb493b093e60a7c5a61490:1/1$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
