<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{76,76}}</string>
                <key>offset</key>
                <string>{-66,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,13},{76,76}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>loading_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{114,72}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,14},{114,72}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>loading_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,66}}</string>
                <key>offset</key>
                <string>{65,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,18},{66,66}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,84},{124,84}}</string>
                <key>offset</key>
                <string>{-46,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,9},{124,84}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,84},{162,82}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{162,82}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>loading_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,84},{204,84}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,9},{204,84}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>loading_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,84},{206,82}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,9},{206,82}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>loading_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{206,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,9},{206,82}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>loading_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{206,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{206,80}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>loading_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{198,80}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,10},{198,80}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
            <key>loading_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{156,78}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,11},{156,78}}</string>
                <key>sourceSize</key>
                <string>{280,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{914,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c371c110570e3a355119c540efcb636:1/1$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
