<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eventactivity_btntxt_receive1.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,231},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{76,40}}</string>
                <key>sourceSize</key>
                <string>{148,44}</string>
            </dict>
            <key>eventactivity_btntxt_receive2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,153},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{76,40}}</string>
                <key>sourceSize</key>
                <string>{148,44}</string>
            </dict>
            <key>eventactivity_btntxt_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{149,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,45}}</string>
                <key>sourceSize</key>
                <string>{149,45}</string>
            </dict>
            <key>eventactivity_pic_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,300},{48,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,27}}</string>
                <key>sourceSize</key>
                <string>{48,27}</string>
            </dict>
            <key>eventactivity_pic_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,125}}</string>
                <key>sourceSize</key>
                <string>{186,125}</string>
            </dict>
            <key>eventactivity_pic_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,129},{179,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,113}}</string>
                <key>sourceSize</key>
                <string>{179,113}</string>
            </dict>
            <key>eventactivity_pic_state1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,244},{98,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,54}}</string>
                <key>sourceSize</key>
                <string>{98,54}</string>
            </dict>
            <key>eventactivity_pic_state2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{91,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,91}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventactivity.png</string>
            <key>size</key>
            <string>{237,337}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d717eeafe4fd82d665b4c08f8052adfc:1/1$</string>
            <key>textureFileName</key>
            <string>eventactivity.png</string>
        </dict>
    </dict>
</plist>
