<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>eventgameover_baiyin_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1896,1663},{150,52}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{150,52}}</string>
                <key>sourceSize</key>
                <string>{262,66}</string>
            </dict>
            <key>eventgameover_baiyin_chibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1497},{185,236}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,82},{185,236}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_baiyin_chibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1448},{185,236}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,82},{185,236}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_baiyin_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1165},{280,281}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{280,281}}</string>
                <key>sourceSize</key>
                <string>{280,307}</string>
            </dict>
            <key>eventgameover_baiyin_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1942},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>eventgameover_baoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,2},{554,599}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{554,599}}</string>
                <key>sourceSize</key>
                <string>{562,603}</string>
            </dict>
            <key>eventgameover_bjan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1448},{229,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,77}}</string>
                <key>sourceSize</key>
                <string>{229,77}</string>
            </dict>
            <key>eventgameover_bojin_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,1499},{162,52}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{262,66}</string>
            </dict>
            <key>eventgameover_bojin_chibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,1165},{185,278}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{185,278}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_bojin_chibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,322},{185,278}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{185,278}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_bojin_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,886},{280,281}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{280,281}}</string>
                <key>sourceSize</key>
                <string>{280,307}</string>
            </dict>
            <key>eventgameover_bojin_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,1903},{82,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,37}}</string>
                <key>sourceSize</key>
                <string>{82,37}</string>
            </dict>
            <key>eventgameover_btn_giveUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1533,1925},{112,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,34}}</string>
                <key>sourceSize</key>
                <string>{112,34}</string>
            </dict>
            <key>eventgameover_bzbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1165},{241,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,277}}</string>
                <key>sourceSize</key>
                <string>{241,277}</string>
            </dict>
            <key>eventgameover_clip_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1195},{252,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,251}}</string>
                <key>sourceSize</key>
                <string>{252,251}</string>
            </dict>
            <key>eventgameover_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1880},{132,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,41}}</string>
                <key>sourceSize</key>
                <string>{132,41}</string>
            </dict>
            <key>eventgameover_dashi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1749},{242,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{242,66}}</string>
                <key>sourceSize</key>
                <string>{262,66}</string>
            </dict>
            <key>eventgameover_dashi_chibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,1197},{185,300}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{185,300}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_dashi_chibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1195},{185,300}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{185,300}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_dashi_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,603},{280,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,307}}</string>
                <key>sourceSize</key>
                <string>{280,307}</string>
            </dict>
            <key>eventgameover_ewhd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,602},{295,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,79}}</string>
                <key>sourceSize</key>
                <string>{295,79}</string>
            </dict>
            <key>eventgameover_fxdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,1130},{229,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,77}}</string>
                <key>sourceSize</key>
                <string>{229,77}</string>
            </dict>
            <key>eventgameover_gjbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,1448},{241,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,277}}</string>
                <key>sourceSize</key>
                <string>{241,277}</string>
            </dict>
            <key>eventgameover_guang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,1499},{204,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,206}}</string>
                <key>sourceSize</key>
                <string>{204,206}</string>
            </dict>
            <key>eventgameover_guang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,1499},{204,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,206}}</string>
                <key>sourceSize</key>
                <string>{204,206}</string>
            </dict>
            <key>eventgameover_hdbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1887,899},{296,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,78}}</string>
                <key>sourceSize</key>
                <string>{296,78}</string>
            </dict>
            <key>eventgameover_huangjin_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1993},{166,52}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{166,52}}</string>
                <key>sourceSize</key>
                <string>{262,66}</string>
            </dict>
            <key>eventgameover_huangjin_chibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,1749},{185,262}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{185,262}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_huangjin_chibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1448},{185,262}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{185,262}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_huangjin_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1605,603},{280,281}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{280,281}}</string>
                <key>sourceSize</key>
                <string>{280,307}</string>
            </dict>
            <key>eventgameover_huangjin_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,2006},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>eventgameover_jiangji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{560,599}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{560,599}}</string>
                <key>sourceSize</key>
                <string>{562,603}</string>
            </dict>
            <key>eventgameover_jiangji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,579}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,579}}</string>
                <key>sourceSize</key>
                <string>{720,579}</string>
            </dict>
            <key>eventgameover_jinjishibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{562,603}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,603}}</string>
                <key>sourceSize</key>
                <string>{562,603}</string>
            </dict>
            <key>eventgameover_kqan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,899},{229,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,77}}</string>
                <key>sourceSize</key>
                <string>{229,77}</string>
            </dict>
            <key>eventgameover_netx_reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,1705},{129,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,80}}</string>
                <key>sourceSize</key>
                <string>{129,80}</string>
            </dict>
            <key>eventgameover_pic_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{1878,1937},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>eventgameover_qingtong_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1947,1480},{152,52}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,0},{152,52}}</string>
                <key>sourceSize</key>
                <string>{262,66}</string>
            </dict>
            <key>eventgameover_qingtong_chibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,1684},{185,192}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{185,192}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_qingtong_chibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1686},{185,192}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{185,192}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_qingtong_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,912},{280,281}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{280,281}}</string>
                <key>sourceSize</key>
                <string>{280,307}</string>
            </dict>
            <key>eventgameover_qingtong_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2000},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>eventgameover_save_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,1634},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,45}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>eventgameover_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,1878},{148,45}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,45}}</string>
                <key>sourceSize</key>
                <string>{150,45}</string>
            </dict>
            <key>eventgameover_shengji.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,607},{556,597}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{556,597}}</string>
                <key>sourceSize</key>
                <string>{562,603}</string>
            </dict>
            <key>eventgameover_shengji1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{720,561}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,561}}</string>
                <key>sourceSize</key>
                <string>{720,579}</string>
            </dict>
            <key>eventgameover_txt_complaint.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,1882},{118,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{118,44}}</string>
                <key>sourceSize</key>
                <string>{148,44}</string>
            </dict>
            <key>eventgameover_txt_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,1928},{102,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,30}}</string>
                <key>sourceSize</key>
                <string>{102,30}</string>
            </dict>
            <key>eventgameover_txt_giveup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1960},{116,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{116,44}}</string>
                <key>sourceSize</key>
                <string>{148,44}</string>
            </dict>
            <key>eventgameover_txt_goback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,1480},{148,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,43}}</string>
                <key>sourceSize</key>
                <string>{148,43}</string>
            </dict>
            <key>eventgameover_txt_goon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,1634},{150,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,44}}</string>
                <key>sourceSize</key>
                <string>{150,44}</string>
            </dict>
            <key>eventgameover_txt_savelevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1830},{135,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,39}}</string>
                <key>sourceSize</key>
                <string>{135,39}</string>
            </dict>
            <key>eventgameover_txt_showoff.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1836},{118,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{118,44}}</string>
                <key>sourceSize</key>
                <string>{148,44}</string>
            </dict>
            <key>eventgameover_wangzhe_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,602},{262,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,66}}</string>
                <key>sourceSize</key>
                <string>{262,66}</string>
            </dict>
            <key>eventgameover_wangzhe_chibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,1727},{185,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,318}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_wangzhe_chibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,2},{185,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,318}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_wangzhe_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1747},{280,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,307}}</string>
                <key>sourceSize</key>
                <string>{280,307}</string>
            </dict>
            <key>eventgameover_xingxing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1893,1882},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,55}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>eventgameover_xingxing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1982},{51,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{53,55}</string>
            </dict>
            <key>eventgameover_xingxingpo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1837},{63,61}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,44},{63,61}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>eventgameover_xingxingpo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1871},{95,87}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{95,87}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>eventgameover_xingxingpo3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,1900},{115,105}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,21},{115,105}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>eventgameover_xingxingpo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,1925},{123,107}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{123,107}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>eventgameover_xingxingpo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1361},{121,117}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{121,117}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>eventgameover_xingxingpo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1705},{123,139}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{123,139}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>eventgameover_xingxingpo7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,1786},{115,93}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,58},{115,93}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>eventgameover_xingxingpo8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1880},{141,93}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,65},{141,93}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>eventgameover_xingxingpo9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,1684},{151,75}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,86},{151,75}}</string>
                <key>sourceSize</key>
                <string>{153,161}</string>
            </dict>
            <key>eventgameover_yqrx.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2013},{120,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,31}}</string>
                <key>sourceSize</key>
                <string>{120,31}</string>
            </dict>
            <key>eventgameover_zuanshi_biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1197},{162,52}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{162,52}}</string>
                <key>sourceSize</key>
                <string>{262,66}</string>
            </dict>
            <key>eventgameover_zuanshi_biaoqian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1448},{80,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{80,38}}</string>
                <key>sourceSize</key>
                <string>{108,42}</string>
            </dict>
            <key>eventgameover_zuanshi_chibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1445},{185,302}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{185,302}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_zuanshi_chibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1727},{185,302}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{185,302}}</string>
                <key>sourceSize</key>
                <string>{185,318}</string>
            </dict>
            <key>eventgameover_zuanshi_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1747},{280,281}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{280,281}}</string>
                <key>sourceSize</key>
                <string>{280,307}</string>
            </dict>
            <key>eventgameover_zuanshi_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,1960},{82,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{82,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eventgameover.png</string>
            <key>size</key>
            <string>{2046,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87be335f6d1ef50400783eb181b1ac14:1/1$</string>
            <key>textureFileName</key>
            <string>eventgameover.png</string>
        </dict>
    </dict>
</plist>
