<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firstloginreward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{546,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,667}}</string>
                <key>sourceSize</key>
                <string>{546,667}</string>
            </dict>
            <key>firstloginreward_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{264,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,97}}</string>
                <key>sourceSize</key>
                <string>{264,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>firstloginreward.png</string>
            <key>size</key>
            <string>{550,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e1d217ed1db1221edbb09ec2fdf4d2:1/1$</string>
            <key>textureFileName</key>
            <string>firstloginreward.png</string>
        </dict>
    </dict>
</plist>
