<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exchange_btn_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,100},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>exchange_btn_address.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,716},{64,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{64,122}}</string>
                <key>sourceSize</key>
                <string>{74,126}</string>
            </dict>
            <key>exchange_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,868},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>exchange_btn_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,826},{70,114}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{70,114}}</string>
                <key>sourceSize</key>
                <string>{74,126}</string>
            </dict>
            <key>exchange_btn_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,57},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>exchange_btntxt_alter.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,545},{83,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,43}}</string>
                <key>sourceSize</key>
                <string>{83,43}</string>
            </dict>
            <key>exchange_btntxt_commit.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,782},{102,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{102,42}}</string>
                <key>sourceSize</key>
                <string>{110,50}</string>
            </dict>
            <key>exchange_btntxt_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,780},{86,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,44}}</string>
                <key>sourceSize</key>
                <string>{86,44}</string>
            </dict>
            <key>exchange_btntxt_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{83,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,42}}</string>
                <key>sourceSize</key>
                <string>{83,42}</string>
            </dict>
            <key>exchange_btntxt_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{149,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,45}}</string>
                <key>sourceSize</key>
                <string>{149,45}</string>
            </dict>
            <key>exchange_dhsuccess.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,53}}</string>
                <key>sourceSize</key>
                <string>{246,53}</string>
            </dict>
            <key>exchange_discount_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,898},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>exchange_img_leftArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,351},{19,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,31}}</string>
                <key>sourceSize</key>
                <string>{19,31}</string>
            </dict>
            <key>exchange_img_rightArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,316},{21,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,33}}</string>
                <key>sourceSize</key>
                <string>{21,33}</string>
            </dict>
            <key>exchange_pic_defaultIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{159,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,6},{159,182}}</string>
                <key>sourceSize</key>
                <string>{279,194}</string>
            </dict>
            <key>exchange_pic_exchangeBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1001},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>exchange_pic_inputBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,1103},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>exchange_pic_itemBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{206,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,257}}</string>
                <key>sourceSize</key>
                <string>{206,257}</string>
            </dict>
            <key>exchange_pic_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,143},{3,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,42}}</string>
                <key>sourceSize</key>
                <string>{3,42}</string>
            </dict>
            <key>exchange_pic_recordBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,930},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>exchange_pic_sureBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1103},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>exchange_tag_discount.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,564},{85,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,47}}</string>
                <key>sourceSize</key>
                <string>{85,47}</string>
            </dict>
            <key>exchange_tag_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,477},{85,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,47}}</string>
                <key>sourceSize</key>
                <string>{85,47}</string>
            </dict>
            <key>exchange_txt_alterTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,651},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,46}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>exchange_txt_exchangeTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,46}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>exchange_txt_inputTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,46}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>exchange_txt_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,143},{400,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,34}}</string>
                <key>sourceSize</key>
                <string>{400,34}</string>
            </dict>
            <key>exchange_txt_recordTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{154,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{154,46}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>exchange_txt_successTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{324,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,28}}</string>
                <key>sourceSize</key>
                <string>{324,28}</string>
            </dict>
            <key>exchange_txt_sureTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,46}}</string>
                <key>sourceSize</key>
                <string>{158,50}</string>
            </dict>
            <key>exchange_xuanyaoyixia.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,630},{148,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{148,42}}</string>
                <key>sourceSize</key>
                <string>{148,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exchange.png</string>
            <key>size</key>
            <string>{252,1205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f8c88ee9c1d691ac4f7a8e50645e166:1/1$</string>
            <key>textureFileName</key>
            <string>exchange.png</string>
        </dict>
    </dict>
</plist>
