<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endgamelobby_btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,567},{84,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,87}}</string>
                <key>sourceSize</key>
                <string>{84,87}</string>
            </dict>
            <key>endgamelobby_btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,573},{58,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,90}}</string>
                <key>sourceSize</key>
                <string>{58,90}</string>
            </dict>
            <key>endgamelobby_bubble_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,665},{73,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{73,62}}</string>
                <key>sourceSize</key>
                <string>{79,64}</string>
            </dict>
            <key>endgamelobby_gift_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,493},{63,66}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{63,66}}</string>
                <key>sourceSize</key>
                <string>{67,72}</string>
            </dict>
            <key>endgamelobby_gift_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,419},{72,66}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{72,66}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>endgamelobby_gift_redpaper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{154,133}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{154,133}}</string>
                <key>sourceSize</key>
                <string>{204,151}</string>
            </dict>
            <key>endgamelobby_halo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{411,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,415}}</string>
                <key>sourceSize</key>
                <string>{411,415}</string>
            </dict>
            <key>endgamelobby_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,419},{112,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,103}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>endgamelobby_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,652},{112,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,103}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>endgamelobby_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,656},{112,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,103}}</string>
                <key>sourceSize</key>
                <string>{112,103}</string>
            </dict>
            <key>endgamelobby_reward_btntxt_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,249},{87,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,41}}</string>
                <key>sourceSize</key>
                <string>{87,41}</string>
            </dict>
            <key>endgamelobby_reward_btntxt_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{95,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,40}}</string>
                <key>sourceSize</key>
                <string>{95,40}</string>
            </dict>
            <key>endgamelobby_reward_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,419},{146,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,96}}</string>
                <key>sourceSize</key>
                <string>{146,96}</string>
            </dict>
            <key>endgamelobby_reward_img_hasreward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{244,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,129}}</string>
                <key>sourceSize</key>
                <string>{244,129}</string>
            </dict>
            <key>endgamelobby_reward_img_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{405,404}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,404}}</string>
                <key>sourceSize</key>
                <string>{405,404}</string>
            </dict>
            <key>endgamelobby_reward_img_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,408},{390,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,390}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>endgamelobby_reward_img_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,567},{82,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,83}}</string>
                <key>sourceSize</key>
                <string>{82,83}</string>
            </dict>
            <key>endgamelobby_reward_img_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,533},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,83}</string>
            </dict>
            <key>endgamelobby_reward_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{100,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,2}}</string>
                <key>sourceSize</key>
                <string>{100,2}</string>
            </dict>
            <key>endgamelobby_reward_txt_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,104},{143,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,33}}</string>
                <key>sourceSize</key>
                <string>{143,33}</string>
            </dict>
            <key>endgamelobby_reward_txt_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,770},{195,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,22}}</string>
                <key>sourceSize</key>
                <string>{195,22}</string>
            </dict>
            <key>endgamelobby_rule_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,408},{163,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,47}}</string>
                <key>sourceSize</key>
                <string>{163,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>endgamelobby.png</string>
            <key>size</key>
            <string>{871,800}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ce0752d4c97b7a82ff1fd1f4a7186f9:1/1$</string>
            <key>textureFileName</key>
            <string>endgamelobby.png</string>
        </dict>
    </dict>
</plist>
