<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>endgameRank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{668,788}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{668,788}}</string>
                <key>sourceSize</key>
                <string>{668,788}</string>
            </dict>
            <key>endgameRank_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,677},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>endgameRank_btn_group.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,618},{192,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,57}}</string>
                <key>sourceSize</key>
                <string>{192,57}</string>
            </dict>
            <key>endgameRank_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,737},{69,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,54}</string>
            </dict>
            <key>endgameRank_my_yellow_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{661,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{661,105}}</string>
                <key>sourceSize</key>
                <string>{661,105}</string>
            </dict>
            <key>endgameRank_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,737},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>endgameRank_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,677},{244,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,58}}</string>
                <key>sourceSize</key>
                <string>{244,58}</string>
            </dict>
            <key>endgameRank_third.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,737},{69,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,54}}</string>
                <key>sourceSize</key>
                <string>{69,54}</string>
            </dict>
            <key>endgameRank_white_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{614,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,109}}</string>
                <key>sourceSize</key>
                <string>{614,109}</string>
            </dict>
            <key>endgameRank_yellow_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,2},{614,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{614,109}}</string>
                <key>sourceSize</key>
                <string>{614,109}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>endgameRank.png</string>
            <key>size</key>
            <string>{1001,793}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d8077b1aa84a407bea643cd29d58fd1:1/1$</string>
            <key>textureFileName</key>
            <string>endgameRank.png</string>
        </dict>
    </dict>
</plist>
