<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>welfare_bg_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{631,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,117}}</string>
                <key>sourceSize</key>
                <string>{631,117}</string>
            </dict>
            <key>welfare_bg_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{631,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,117}}</string>
                <key>sourceSize</key>
                <string>{631,117}</string>
            </dict>
            <key>welfare_bg_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{631,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,117}}</string>
                <key>sourceSize</key>
                <string>{631,117}</string>
            </dict>
            <key>welfare_btn_qw.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,347},{142,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,76}}</string>
                <key>sourceSize</key>
                <string>{142,76}</string>
            </dict>
            <key>welfare_ditian.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,475},{78,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,22}}</string>
                <key>sourceSize</key>
                <string>{78,22}</string>
            </dict>
            <key>welfare_fudai.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,425},{146,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,81}}</string>
                <key>sourceSize</key>
                <string>{146,81}</string>
            </dict>
            <key>welfare_grayp_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,409},{101,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>welfare_grayp_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,409},{101,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>welfare_huiselingjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,420},{115,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{115,44}}</string>
                <key>sourceSize</key>
                <string>{115,48}</string>
            </dict>
            <key>welfare_lingjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{168,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,224}}</string>
                <key>sourceSize</key>
                <string>{168,224}</string>
            </dict>
            <key>welfare_moren.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,326},{147,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,204}}</string>
                <key>sourceSize</key>
                <string>{147,204}</string>
            </dict>
            <key>welfare_pic_dlq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,466},{94,34}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{94,34}}</string>
                <key>sourceSize</key>
                <string>{142,76}</string>
            </dict>
            <key>welfare_pic_qw.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,475},{62,34}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{62,34}}</string>
                <key>sourceSize</key>
                <string>{142,76}</string>
            </dict>
            <key>welfare_pic_ylw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,327},{91,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,75}}</string>
                <key>sourceSize</key>
                <string>{91,75}</string>
            </dict>
            <key>welfare_redp_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,327},{101,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>welfare_redp_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,327},{101,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,91}}</string>
                <key>sourceSize</key>
                <string>{101,91}</string>
            </dict>
            <key>welfare_s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,464},{143,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,42}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
            <key>welfare_s_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,356},{141,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{141,36}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
            <key>welfare_s_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{636,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{636,84}}</string>
                <key>sourceSize</key>
                <string>{640,84}</string>
            </dict>
            <key>welfare_sevenlingjiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,121},{320,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,224}}</string>
                <key>sourceSize</key>
                <string>{320,224}</string>
            </dict>
            <key>welfare_sevenmoren.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,121},{303,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,204}}</string>
                <key>sourceSize</key>
                <string>{303,204}</string>
            </dict>
            <key>welfare_sevenyilingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,2},{286,190}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{286,190}}</string>
                <key>sourceSize</key>
                <string>{292,200}</string>
            </dict>
            <key>welfare_t_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,365},{143,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,42}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
            <key>welfare_t_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,213},{141,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{141,38}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
            <key>welfare_tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,290},{205,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,73}}</string>
                <key>sourceSize</key>
                <string>{207,73}</string>
            </dict>
            <key>welfare_tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,422},{207,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,73}}</string>
                <key>sourceSize</key>
                <string>{207,73}</string>
            </dict>
            <key>welfare_tab_m_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,347},{209,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,73}}</string>
                <key>sourceSize</key>
                <string>{209,73}</string>
            </dict>
            <key>welfare_tab_m_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,2},{209,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,73}}</string>
                <key>sourceSize</key>
                <string>{209,73}</string>
            </dict>
            <key>welfare_txt_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,420},{150,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{150,42}}</string>
                <key>sourceSize</key>
                <string>{152,46}</string>
            </dict>
            <key>welfare_w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,464},{143,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,42}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
            <key>welfare_w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,365},{141,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{141,36}}</string>
                <key>sourceSize</key>
                <string>{143,42}</string>
            </dict>
            <key>welfare_yilingjiangyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,326},{136,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,190}}</string>
                <key>sourceSize</key>
                <string>{136,190}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>welfare.png</string>
            <key>size</key>
            <string>{1541,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52bf9f694e2470d96832a60300428216:1/1$</string>
            <key>textureFileName</key>
            <string>welfare.png</string>
        </dict>
    </dict>
</plist>
